#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.article {
  background-color: blueviolet;
  border: solid 1px black;
  border-radius: 7%;
  padding: 0.3rem;
  margin: 1rem;
  color: whitesmoke;
  max-width: 75vw;
}

.article-image {
  max-width: 75vw;
  max-width: auto;
  border: 0.5px solid black;
}

.articles-list {
  list-style-type: none;
}

.show-articles {
  
    background: linear-gradient(to bottom, #3498db, #2980b9);
    background-repeat: no-repeat;
    background-attachment: fixed;
  
  
  
}